:root {
  --cursiveFont:'Pangolin', cursive;
  --RegularFont: 'Noto Sans', sans-serif;
  --btnFont: 'Roboto', sans-serif;
  --lineColor: #f5f5f5;
  --modalBg: #374151;
  --modalFontColor: #f4f4f5;
  --modalBorderR: 8px;
  --errorColor: #f43f5e;
  --greyOverlay: rgba(128, 128, 128, 0.5);
  --postBorderC: #ccc;

  --siteBg: #fafafa;

  --contentSidePadding: 15px;
  --dateColor: #64748b;

  --commentBgColor:#dcfce7;
  --commentBorderColor: #64748b;
}


* {
  margin: 0;
  font-family: var(--RegularFont);
  box-sizing: border-box;
  
  
}

h1, h2, h3, h4, h5 {
  font-family: var(--cursiveFont);
}

li {
  font-family: var(--btnFont);
}

.App {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
  
}





.nav-cont {
  height: 100px;
}

.nav-links {

}

.top-nav{
  display: flex;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top:0;
  margin: 0 auto;
  right: 0;
  width: 100%;
  background-color: var(--siteBg);
  border-bottom: 2px solid var(--lineColor);
}

.top-nav-w {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  position: relative;
  margin: auto;
  padding: 1rem;
}



.top-nav-ul {
  
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;

}

.topNav-btn {
  border: 0;
  font-size: 12px;
  border-radius: var(--modalBorderR);
}

.topNav-btn:hover {
  cursor: pointer;
  background-color: var(--errorColor);
}

.nav-btn, .nav-links {
  border: 0;
  background-color: inherit;
  font-size: inherit;
  padding: 0 0 2px 0;
  font-family: var(--btnFont);
  text-decoration: none;
  background-image: linear-gradient(var(--modalBg) 0 0);
  background-repeat: no-repeat;

  background-size: 0% 2px;
  background-position: bottom left;

  transition: background-size 0.3s, background-position 0s 0.3s;
}

.nav-links:visited {
  color: inherit;
}



.nav-btn:hover, .nav-links:hover {
  cursor: pointer;
  background-size: 100% 2px;
  background-position: bottom right;
  
  
}

.overlay {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 9998;
  top:0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-modal {
  position: absolute;
  left: 0;
  background-color: var(--greyOverlay);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border-radius: var(--modalBorderR);
  z-index: 9999;
}

.modal-cont {
  background-color: var(--modalBg);
  color: var(--modalFontColor);
  padding: 1rem;
  border-radius: var(--modalBorderR);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;
}

.modal-btn-close {
  display: flex;
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
}

.modal-btn-close:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.errorMsg {
  color: var(--errorColor)
}

.result-cont {
  padding: 1rem;
  border-radius: var(--modalBorderR);
  background-color: var(--modalBg);
  color: var(--modalFontColor);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newUser-btn {
  border: 0;
  background-color: inherit;
  color: var(--modalFontColor);
  font-weight: bold;
}

.newUser-btn:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.dash-post-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dash-btns-cont {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.dash-status {
  display: flex;
  flex-direction: column;
}

.dash-posts {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
  border-radius: var(--modalBorderR);
}

.home-post-cont {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: var(--modalBorderR);
  background-color: white;
}
.home-post-title {
  
  padding: 3px 5px;
  border-radius: var(--modalBorderR);
}

.home-post-cont, .home-post-cont .ql-editor:hover p{
  cursor: pointer;
}

.post-comment-cont {
  padding: var(--contentSidePadding);
}

.comment-cont {
  padding: var(--contentSidePadding);
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments-quill {
  background-color: var(--commentBgColor);
  position: relative;
  border: 10px solid var(--commentBorderColor);
  border-radius: 10px;
  
}

.comments-quill:before {
  content:' ';
  position: absolute;
  border: 20px solid;
  border-color:transparent transparent var(--commentBorderColor) transparent;
  top: 0;
  left: 0;
  transform: translateY(-100%);

}

.comments-quill:after {
  content: ' ';
  position: absolute;
  left: 10px;
  transform: translateY(-100%);
  top: 0;
  
  border: 10px solid;
  border-color: transparent transparent var(--commentBgColor) transparent;
}

.comment-user-cont {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.comment-date {
  
  color: var(--dateColor);
  font-size: .85em;
}

.pagination {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 40px 0;
}

.pagination > li:hover {
  cursor: pointer;
}

.pagination > .selected {
  color: red;
  pointer-events: none;
}

.pagination > .disabled {
  display: none;
}

@media screen and (min-width: 320px) {
  .modal-cont {
    width: 400px;
  }
}